#banner-img img {
    width: 2560px;
}
button {
    margin: 5px;
}
/* .row {
    width: 80%;
} */
/*media queries*/
/* @media only screen and (min-width: 601px) {
    .container {
      width: 85%;
    }
  }
  @media only screen and (min-width: 993px) {
    .container {
      width: 70%;
    }
  } */